<div class="container-fluid py-3 mt-5 bg-light full-width-bg">
  <div class="container">
    <h2 class="text-center">¿Por qué elegirnos?</h2>
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <i class="fas fa-shipping-fast feature-icon mb-3"></i>
        <div class="feature-text">
          <h5>Envío Rápido</h5>
          <p>Recibe tus productos en tiempo récord.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-undo-alt feature-icon mb-3"></i>
        <div class="feature-text">
          <h5>Devoluciones Fáciles</h5>
          <p>Proceso de devolución sencillo y sin complicaciones.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-headset feature-icon mb-3"></i>
        <div class="feature-text">
          <h5>Atención al Cliente</h5>
          <p>Estamos aquí para ayudarte en cualquier momento.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  &copy; 2024 artLabKids. Todos los derechos reservados.
</div>
