<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">ArtLabKids</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
       
      </div>
    </div>
  </nav>

  <!-- Contacto -->
  <div class="container-fluid py-5 mt-5 bg-light full-width-bg">
    <div class="container">
      <h2 class="text-center">¿Necesitas Ayuda?</h2>
      <div class="row mt-4">
        <div class="col-md-6 mx-auto text-center">
          <p>En caso de incidencias o dudas, no dudes en contactarnos:</p>
          <p><i class="fas fa-phone-alt"></i> Teléfono de Atención: +1 234 567 8901</p>
          <p><i class="fas fa-envelope"></i> Correo Electrónico: <a href="mailto:contacto@artlabkids.com">contacto"&#64;"artlabkids.com</a></p>
          <p>Nuestro equipo estará encantado de atenderte en un plazo máximo de 48 horas.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2024 artLabKids. Todos los derechos reservados.
  </footer>