<app-topbar></app-topbar>
<section class="pt-7 pb-12">
  <h1 class="text-center mb-5">Nuestros Productos</h1>
  <ng-container *ngIf="load_producto">
          <div class="text-center py-10">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
  </ng-container>
  <ng-container *ngIf="!load_producto">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-3 product-card" *ngFor="let item of productos| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <div class="card">
            <img [src]="url+'/getImgProductos/'+item.portada" class="card-img-top" alt="Producto 1">
            <div class="card-body">
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.descripcion}}</p>
              <p class="card-text"><strong>{{item.precio}}€</strong></p>
              <a href="#" class="btn btn-dark">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <!-- Progress -->
        <div class="row justify-content-center mt-7">
          <ngb-pagination
                [collectionSize]="productos.length"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
            ></ngb-pagination>
        </div>
        
      </div>
    </div>
 </ng-container>  
</section>
<app-footer></app-footer>