<app-topbar></app-topbar>
<section class="py-12 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form>

              <div class="form-group">
                <div class="form-row">
                  <input type="email" class="form-control form-control-sm" placeholder="Introduce tu email" name="email"
                    [(ngModel)]="email" [ngClass]="{'is-invalid ': msm_error_email}">
                </div>

              </div>
              <div class="col-12 col-md-auto text-center mb-2">
                <span *ngIf="msm_error_email" class="text-danger ">
                  {{msm_error_email}}
                </span>
              </div>
              
              <div class="form-group">
                <div class="form-row">
                  <input type="password" class="form-control form-control-sm" placeholder="Introduce tu contraseña"
                    name="password" [(ngModel)]="password"[ngClass]="{'is-invalid ': msm_error_password}">
                </div>
              </div>
              <div class="col-12 col-md-auto text-center mb-2">
                <span *ngIf="msm_error_password" class="text-danger ">
                  {{msm_error_password}}
                </span>
              </div>
              <div class="col-12 col-md-auto text-center mb-2 ">
                <a href="#" class="text-dark ">
                  ¿Olvidaste tu contraseña?
                </a>
              </div>
               <div class="col-12 col-md-auto text-center mb-2 ">
                <a [routerLink]="['/registro']"  class="text-dark ">
                  ¿Todavía no estás registrado?
                </a>
              </div>
              <button *ngIf="!btn_load" type="submit" class="btn btn-sm btn-dark w-100" type="button"
                (click)="validate()">Iniciar sesión</button>
              <button *ngIf="btn_load" class="btn btn-sm btn-dark w-100" type="button" disabled>
                <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true"></span>
                Procesando...
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>